<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Hangman</title>
</head>
<body>
    <h1 class="title">Welcome to Yaseen's Hangman Game</h1>
    <h1 class="select">Select a difficulty: </h1>
    <div class="buttons-container">
        {% for difficulty in ["Easy", "Medium", "Hard"] %}
            <button class ="difficulty-buttons"
                onclick="location.href='/difficulty/{{ difficulty }}'">
                {{ difficulty }}
            </button>
        {% endfor %}
    </div>
</body>
</html>